<div class="border border-gray-200 rounded-lg mb-1" [ngClass]="customClass">
  <div
    class="bg-blue-50 flex flex-wrap justify-between items-center px-3 py-2 sm:px-4 rounded-t-lg mt-0 gap-y-2 gap-x-2"
  >
    <div class="flex items-center gap-2 min-w-0">
      <mat-icon *ngIf="icon" class="text-blue-600 shrink-0">{{
        icon
      }}</mat-icon>

      <h2 class="text-[17px] text-blue-600">
        {{ title }}
      </h2>

      <ng-content select="[header-left]"></ng-content>
    </div>

    <div class="flex items-center space-x-2">
      <button
        *ngIf="actionText"
        type="button"
        class="inline-flex items-center gap-1 text-sm bg-blue-600 hover:bg-blue-700 text-white font-medium py-1.5 px-3 rounded-md shadow transition"
        (click)="onActionClick()"
      >
        <mat-icon
          *ngIf="actionIcon"
          style="font-size: 18px; width: 18px; height: 18px"
          >{{ actionIcon }}</mat-icon
        >
        {{ actionText }}
      </button>
      <button
        *ngIf="secondaryIcon"
        (click)="onSecondaryIconClick()"
        class="text-blue-600 hover:text-blue-700 focus:outline-none flex items-center"
        type="button"
        [attr.title]="secondaryIconTooltip"
      >
        <mat-icon>{{ secondaryIcon }}</mat-icon>
      </button>

      <ng-content select="[header-actions]"></ng-content>

      <button
        *ngIf="collapsible"
        (click)="toggleCollapse($event)"
        class="text-blue-600 hover:text-blue-700 focus:outline-none flex items-center"
        type="button"
        aria-label="Toggle collapse"
        [attr.aria-expanded]="!isCollapsed"
      >
        <mat-icon>{{ isCollapsed ? "expand_more" : "expand_less" }}</mat-icon>
      </button>
    </div>
  </div>

  <div
    *ngIf="!isCollapsed"
    class="panel-body overflow-visible px-3 pt-3 pb-3 sm:px-5"
  >
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</div>
